/* body{
    border: 1px solid #202A25;
} */

p {
    color:#202A25;
}

h1 {
    color: #016FB9
}

.barrenav {
    background-color: #202A25;
}

.logos {
    position: relative;
    height: 10%;
    width: 10%;
}